body {
    background: #303030;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.homepage h1 {
    font-size: 35px;
    color: #64b5f6;
}

.homepage {
    max-width: 1200px;
    margin: auto auto;
    padding: 0
}

nav {
    list-style: none;
    padding: 10px;
    background: white;
    border-radius: 25px
}

nav ul {
    white-space: nowrap;
    margin: 5px;
    text-align: center;
}

nav li {
    width: 30%;
    display: inline-block;
    list-style: none;
    text-align: center;
}

nav a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #303030;
    transition: .3s;
}

nav a:hover {
    color:#64b5f6;
    animation-delay: 500;
}