html {
    scroll-behavior: smooth;
}

body {
    background: #F6F4F3;
    padding: 0;
    margin: 0;
    font-family: "Robot", sans-serif;
    color: #303030;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: currentColor;
}

.wrapper {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

nav {
    height: 5vh;
    max-width: 100vw;
    flex-basis: 0;
}

ul {
    margin-top: 2vh;
    list-style-type: none;
    text-align: center;
    padding: 0;
    /* white-space: nowrap; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul li {
    display: inline-block;
    text-align: center;
}

nav a {
    /* color: #303030; */
    font-size: 6vw;
    transition: .4s;
}

nav a:hover {
    color: #64b5f6;
}

.intro {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

svg {
    margin-top: 5vh;
    max-height: 100%;
    max-width: 70%;
    stroke-width: 1vw;
    flex-basis: 0vw;
}

.svglogo {
    text-align: center;
    
    flex-basis: 100vw;
}

.animatedtext {
    text-align: center;
}

.animatedtext h1 {
    font-size: 3vw;
}

.coloredtext {
    color: #F03A47;
}

.myname h1 {
    text-align: center;
    font-size: 4em;
    vertical-align: bottom;
}

#mobile{
    display: flex;
}

#desktop {
    display: none;
}

.aboutmesection {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #33658A 25vw, #F6F4F3 25vw);
    padding: 0;
    margin: 0;
    position: relative;
}

.mobileaboutme {
    display: flex;
    flex-direction: column;
}

.imgdiv {
    width: 100vw;
}

.imgdiv img {
    width: 60%;
    padding: 0;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.aboutmesection .infoparamobile {
    max-width: 75vw;
    text-align: center;
    margin: 0 auto;
    height: 1vh;
}

.infoparamobile .myname {
    font-size: 3vw;
    margin-bottom: 0;
}

.infoparamobile .typed {
    font-size: 6vw;
}

.typed-cursor {
    font-size: 5vw;
    font-weight: 100;
}

.infoparamobile p {
    font-size: 4.1vw;
    max-height: inherit;
    text-align: center;
    margin-top: 1vh;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons a {
    font-size: 12vw;
    color: #F03A47;
    transition: .4s;
}

.icons a:hover {
    color: #64b5f6;
    transform: scale(1.5);
}

.sectionheading {
    margin-top: 10vh;
    margin-bottom: 3vh;
    font-size: 6vw;
}

.workheading {
    margin-left: 0;
    text-align: center;
}

.workexperiencemobile {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.workexperiencemobile .companyside {
    background:linear-gradient(180deg, #33658A 50%, #F6F4F3 50%);
    width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.projectssidemobile {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.projectssidemobile .projectbox {
    min-width: 90vw;
    width: 90vw;
    height: 25%;
    text-align: center;
}

.projectssidemobile .projectbox .projectname {
    margin-top: 5vh;
    margin-left: 3vw;
    font-size: 6vw;
    color: #F03A47;
    margin-bottom: 1vh;
}

.projectssidemobile .projectbox .projectdescription {
    margin-left: 3vw;
    font-size: 4vw;
    color: #303030;
    max-width: 80%;
    margin-top: 0;
}

.projectssidemobile .projectdescription a {
    color: #64b5f6;
    transition: .3s;
}

.projectssidemobile .projectdescription a:hover {
    color: #33658A;
}

.workexperiencemobile .jobdiv {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    max-height: 75%;
    height: 75%;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
    border-left: .5vw solid #64b5f6;
    border-top: .5vw solid #64b5f6;
    border-right: .5vw solid #64b5f6;
    border-bottom: 1.5vw solid #33658A;
    background: #F6F4F3;
}

.workexperiencemobile .logodiv {
    display: flex;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2vh;
}

.workexperiencemobile .jobdiv img {
    max-width: 100%;
}

.workexperiencemobile .jobdiv a {
    transition: .3s;
}

.workexperiencemobile .jobdiv a:hover {
    opacity: .6;
    transform: scale(.9);
}

.workexperiencemobile .companyinfo {
    max-width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.workexperiencemobile .jobtitlediv {
    margin: 0;
}

.workexperiencemobile .companypara {
    font-size: 4vw;
    text-align: center;
}

.workexperiencemobile .jobtitle {
    color: #F03A47;
    font-size: 7vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

.workexperiencemobile .dates {
    color: #303030;
    font-size: 3.5vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer {
    background: linear-gradient(180deg, #F6F4F3 80%, #33658A 20%);
    text-align: center;
    max-height: 30vh;
    height: 20vh;
    font-size: 4vw;
    margin: 0;
}

.footer a {
    color: #64b5f6;
    transition: .3s;
}

.footer a:hover {
    color: #F03A47
}
























/* SVG Logo animation stuff */
#Head {
    stroke: #33658A;
    fill-opacity: 1;
    stroke-dasharray: 2417.6455078125;
    stroke-dashoffset: 2417.6455078125;
    animation: dashHead 6s linear;
}

@keyframes dashHead {
    from {
        stroke: #33658A;
        stroke-dashoffset: 2417.6455078125;
        stroke-dashoffset: -2417.6455078125;
        fill-opacity: 0;
    }
    to {
        stroke-dashoffset: 2417.6455078125;
        stroke: #F03A47;
        fill-opacity: 1;
    }
}

#Nose {
    stroke: #33658A;
    stroke-dasharray: 392.4127197265625;
    stroke-dashoffset: 392.4127197265625;
    fill-opacity: 1;
    animation: dashNose 6s linear;
}

@keyframes dashNose {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 392.4127197265625;
        stroke-dashoffset: -392.4127197265625;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 392.4127197265625;
        stroke: #F03A47;
    }
}

#Chin_Beard {
    stroke: #33658A;
    stroke-dasharray: 356.55267333984375;
    stroke-dashoffset: 356.55267333984375;
    fill-opacity: 1;
    animation: dashChin_Beard 6s linear;
}

@keyframes dashChin_Beard {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 356.55267333984375;
        stroke-dashoffset: -356.55267333984375;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 356.55267333984375;
        stroke: #F03A47;
    }
}

#Top_Hair {
    stroke: #33658A;
    stroke-dasharray: 1577.5140380859375;
    stroke-dashoffset: 1577.5140380859375;
    fill-opacity: 1;
    animation: dashTop_Hair 6s linear;
}

@keyframes dashTop_Hair {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 1577.5140380859375;
        stroke-dashoffset: -1577.5140380859375;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 1577.5140380859375;
        stroke: #F03A47;
    }
}

#Beard_Hair {
    stroke: #33658A;
    stroke-dasharray: 2825.279052734375;
    stroke-dashoffset: 2825.279052734375;
    fill-opacity: 1;
    animation: dashBeard_Hair 6s linear;
}

@keyframes dashBeard_Hair {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 2825.279052734375;
        stroke-dashoffset: -2825.279052734375;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 2825.279052734375;
        stroke: #F03A47;
    }
}

#Eyebrows {
    stroke: #33658A;
    stroke-dasharray: 334.45965576171875;
    stroke-dashoffset: 334.45965576171875;
    fill-opacity: 1;
    animation: dashEyebrows 6s linear;
}

@keyframes dashEyebrows {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 334.45965576171875;
        stroke-dashoffset: -334.45965576171875;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 334.45965576171875;
        stroke: #F03A47;
    }
}

#Neck {
    stroke: #33658A;
    stroke-dasharray: 863.0379638671875;
    stroke-dashoffset: 863.0379638671875;
    fill-opacity: 1;
    animation: dashNeck 6s linear;
}

@keyframes dashNeck {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 863.0379638671875;
        stroke-dashoffset: -863.0379638671875;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 863.0379638671875;
        stroke: #F03A47;
    }
}

#Lens {
    stroke: #33658A;
    stroke-dasharray: 768.1332397460938;
    stroke-dashoffset: 768.1332397460938;
    fill-opacity: 1;
    animation: dashLens 6s linear;
}

@keyframes dashLens {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 768.1332397460938;
        stroke-dashoffset: -768.1332397460938;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 768.1332397460938;
        stroke: #F03A47;
    }
}

#Black_part_1 {
    stroke: #33658A;
    stroke-dasharray: 88.43235778808594;
    stroke-dashoffset: 88.43235778808594;
    fill-opacity: 1;
    animation: dashBlack_part_1 6s linear;
}

@keyframes dashBlack_part_1 {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 88.43235778808594;
        stroke-dashoffset: -88.43235778808594;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 88.43235778808594;
        stroke: #F03A47;
    }
}

#Black_part_2 {
    stroke: #33658A;
    stroke-dasharray: 298.1716003417969;
    stroke-dashoffset: 298.1716003417969;
    fill-opacity: 1;
    animation: dashBlack_part_2 6s linear;
}

@keyframes dashBlack_part_2 {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 298.1716003417969;
        stroke-dashoffset: -298.1716003417969;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 298.1716003417969;
        stroke: #F03A47;
    }
}

#White_part {
    stroke: #33658A;
    stroke-dasharray: 299.6165466308594;
    stroke-dashoffset: 299.6165466308594;
    fill-opacity: 1;
    animation: dashWhite_part 6s linear;
}

@keyframes dashWhite_part {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 299.6165466308594;
        stroke-dashoffset: -299.6165466308594;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 299.6165466308594;
        stroke: #F03A47;
    }
}

#Ear {
    stroke: #33658A;
    stroke-dasharray: 492.46600341796875;
    stroke-dashoffset: 492.46600341796875;
    fill-opacity: 1;
    animation: dashEar 6s linear;
}

@keyframes dashEar {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 492.46600341796875;
        stroke-dashoffset: -492.46600341796875;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 492.46600341796875;
        stroke: #F03A47;
    }
}

#Shirt {
    stroke-dasharray: 1424.636474609375;
    stroke-dashoffset: 1424.636474609375;
    fill-opacity: 1;
    animation: dashShirt 6s linear;
}

@keyframes dashShirt {
    from {
        fill-opacity: 0;
        stroke: #33658A;
        stroke-dashoffset: 1424.636474609375;
        stroke-dashoffset: -1424.636474609375;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 1424.636474609375;
        stroke: #F03A47;
    }
}